<%- include('includes/header') %>

<div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading text-center">User Login</h2>
        <label  class="sr-only">User Name</label>
        <input type="text" name="username" class="form-control" placeholder="User Name" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <p>Have Account? <a href="/users/login"> Login </a> </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>

    </div> <!-- /container -->



<%- include('includes/footer') %>